<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TravelMapper">
    <select id="getTravelPlansByUserId" resultType="org.example.entity.Travel">
        SELECT * FROM travel_plan WHERE user_id = #{userId}
    </select>

    <insert id="addTravelPlan" parameterType="org.example.entity.Travel">
        INSERT INTO travel_plan(user_id, plan_name, travel_date, itinerary)
        VALUES(#{userId}, #{planName}, #{travelDate}, #{itinerary})
    </insert>
</mapper>
