<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

    <select id="isExistById" parameterType="Integer" resultType="java.lang.Boolean">
        select count(0) from user where id = #{id};
    </select>
    <select id="login" parameterType="org.example.entity.User" resultType="java.lang.Integer">
        select id from user where username = #{username} and password = #{password};
    </select>
    <select id="isExistByUsername" parameterType="String" resultType="boolean">
        SELECT COUNT(0) FROM user WHERE username = #{username}
    </select>

    <insert id="register" parameterType="org.example.entity.User">
        INSERT INTO user(username, password) VALUES(#{username}, #{password})
    </insert>

</mapper>